.main{
    padding-top: 40px;
    padding-bottom: 40px;
}
.dark__main{
    background-color: gray;
    min-height: 70vh;
}
.main__container{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    gap: 100px;

}
.main__filter{
    width: 350px;
    border-radius: 15px;
    background-color: white;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    height: max-content;
    margin-top: 40px;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
    border: 1px solid rgb(255, 179, 0);
    
}
.main__filter__title{
    background-color: rgb(177, 176, 176);
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    padding-left: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.filter__item{
    list-style: none;
    display: flex;
    flex-direction: column;
}
.filter__link{
    color: #2d4366;
    line-height: 21px;
    font-size: 20px;
    padding: 10px 20px;
    height: 60px;
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}
.filter__link:hover{
    background-color: gray;
}
.filter__link:not(:last-child){
    border-bottom: 1px solid gray;
}
.filter__link__href{
    text-decoration: none;
    color: #2d4366;
}
.filter__link ::before{
    border-bottom: 0px solid white;
}
.main__info{
    display: flex;
    flex-wrap: wrap;
    /* background-color: green; */
}
.card{
    margin-top: 40px;
    display: flex;
    width: 700px;
    background-color: paleturquoise;
    border: 2px solid rgb(255, 179, 0);
    border-radius: 15px;
    box-shadow: 0px 2px 9px rgba(255, 134, 6, 0.053);
}
.card__info{
    width: 50%;
    box-sizing: border-box;
    margin-left: 20px ;
}
.card__img{
    background-color: rgb(176, 176, 176);
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    
} 
.card__img img{
    width: 100px;
    border-radius: 30%;
    height: 100px;
}
.card__info{
    max-width: 80%;
    padding-right:20px;
}
.card__info__name{
    max-width: 100%;
    margin-top: 5px;
    width: max-content;
    box-sizing: border-box;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--title-color);
    cursor: pointer;
    margin-bottom: 7px;
}
.card__info__name:hover{
    margin-bottom: 5px;
    border-bottom: 3px solid var(--title-color);
}
.card__info__adress{
    color: var(--dark-black);
    font-family: var(--font-style), sans-serif;
    font-size: var(--font-size-large);
    line-height: 25px;
    width: 100%;
}
.card__info__inf{
    margin-top: 20px;
    padding-bottom:10px;
}
.card__info__user{
    color: var(--dark-black);
    font-size: var(--font-size-large);
    line-height: 25px;
    font-family: "italic";
    margin-top: 10px;
}
.card__info2{
    border-left: 1px solid gray;
    padding-left: 5px;
    box-sizing: border-box;
}
.card__phone{
    display: flex;
    width: 100%;
    margin-top: 30px;
    font-weight: 700;
}
.card__work__time, .card__working__data{
    font-weight: 700;
    margin-top: 15px;
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}
@media only screen and  (max-width: 1200px){
    .main__filter{
        width: 320px;
        font-size: 20px;
    }
    .main__filter__title{
        font-size: 22px;
        height: 80px;
    }
    .filter__link{
        font-size: 18px;
    }
}
@media only screen and  (max-width: 1200px){
    .card{
        width: 600px;
    }
}
.card__info{
    width: 45%;
}
@media only screen and  (max-width: 1000px){
    .card{
        width: 500px;
    }
    .card__info{
        width: 42%;
    }
    .card__info__name{
        font-size: 18px;
    }
    .card__info__adress{
        font-size: var(--font-size-medium);
    }
    .card__info__inf{
        font-size: var(--font-size-medium);
    }
    .card__phone{
        font-size: var(--font-size-medium);
    }
    .card__work__time{
        font-size: var(--font-size-medium);
    }
    .card__working__data{
        font-size: var(--font-size-medium); 
    }
}
@media only screen and  (max-width: 800px){
    .main__container{
        width: max-content;
        display: block;
    }
    .main__filter{
        width: 80%;
        margin: 0 auto;
    }
    .card{
        width: 80%;
        max-width: 500px;
        display: block;
        margin: 0 auto;
        margin-top: 40px;
    }
    .card__info{
        width: 100%;
        width: max-content;
        margin: 0 auto;
    }
    .card__img{
        width: 100%;
        height: 150px;
    }
    .card__img img{
        width: 120px;
        height: 120px;
    }
    .card__info__name{
        font-size: 25px;
        width: max-content;
        margin: 10px auto;
        text-align: center;
    }
 
    .card__info2{
        /* background-color: red; */
        width: max-content;
        margin-left: 40px;
        border-left: none;
    }
}